    @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
    body {
        font-family: tahoma;
        font-size: .85em;
        color: dimgrey;
    }
    
    h3 {
        color: white;
        font-family: "Shadows Into Light Two", cursive;
        font-size: 1.7em;
        margin-bottom: .5em;
    }
    
    h1 {
        color: #D18800;
        font-family: "Shadows Into Light Two", cursive;
        font-size: 2.5em;
        margin-bottom: .5em;
        padding-left: 7.2em
    }
h5 {
        color: white;
        font-family: "Shadows Into Light Two", cursive;
        font-size: 2.5em;
        margin-bottom: .5em;
        padding-left: 9.3em;
        margin-top: -4.5em;
}
h6 {
        color: #D18800;
        font-family: "Shadows Into Light Two", cursive;
        font-size: 1.7em;
        margin-bottom: .5em;
        margin-top: 4em;
    
}
.black { 
        font-family: tahoma;
        font-size: .95em;
        color: #333333;
    
}
    
    h2 {
        color: #D18800;
        font-family: "Shadows Into Light Two", cursive;
        font-size: 1.7em;
        margin-bottom: .5em;
    }
    
    h4 {
        color: #D18800;
        font-family: tahoma;
        font-size: 1.17em;
        margin-bottom: .5em;
        font-weight: 200
    }
.logo {
    position: relative;
    background-color: white;
    margin-left: 1em;
    border: 2px solid #D18800
}
    
    .answer {
        font-family: tahoma;
        font-size: .92em;
        font-weight: 200;
        padding-left: 3em;
        color: dimgrey
    }
    
    Nav {
        background-color: #538F9A;
        font-weight: 250;
        font-size: 1.2em;
        line-height: 3em;
        padding-left: 10em;
        margin-top: -4.5em;
    }
    
    Nav ul {
        margin: 0;
    }
    
    Nav li {
        display: inline-block;
        padding-left: 1em;
    }
    
    Nav a:link,
    nav a:visited {
        color: white;
        text-decoration: none
    }
    
    Nav a:hover {
        color: skyblue
    }
    
    #middle-row {
        background-color: #538F9A;
    }
    
    .content {
        width: 80%;
        max-width: 850px;
        margin: 0 auto;
    }
    
    .banner img {
        width: 100%;
    }
    .riverbanner img {
    {
        width: 100%;
        margin-bottom: -10em;
    }
    
}
    
    .lastparagraph {
        text-align: center;
    }
    
    .socialicons img {
        width: 40px
    }
    
    section {
        padding: 1em;
        clear: both;
    }
    
    #top-row,
    #middle-row,
    #last-row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    
    .leftcol,
    .rightcol {
        width: 48%;
        flex: 1 0 15em;
        margin-left: 1em;
    }
    
    img {
        max-width: 100%;
    }
.right { 
        float: right;
}
.img-one {
    width: 50%;
    padding-left: 1em;
}
.img-two {
    width: 40%;
    padding-left: 1em;       
}
.line-one, 
.line-three
{
    size: 1px;
    color: gray;
    width: 200px;
}
.line-two
{
    size: 1px;
    color: gray;
    width: 200px;
}
.white {
    color: white
}
    
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 7em
    }
button.accordion {
    background-color: #eee;
    color: #D18800;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.2em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}